.banner {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
  z-index: -1;
}
.banner::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.movie-con {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
  margin-top: -100px;
}
.movie-con > .left {
  flex: 1 1;
}
.movie-con > .left > img {
  width: 100%;
  height: 100%;
}
.movie-con > .right {
  width: 70%;
  padding-left: 5%;
}
.movie-con > .right > .title {
  font-size: 64px;
  color: white;
}
.movie-con > .right > .genre-list {
  display: flex;
}
.movie-con > .right > .genre-list > span {
  margin-right: 3%;
  padding: 10px 20px;
  display: block;
  background: black;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
}
.movie-con > .right > .overview {
  line-height: 1.5;
  color: white;
}
.movie-con > .right > * {
  margin-bottom: 50px;
}