.container{
    max-width: 1320px;
    margin: 0 auto;
    >h2{
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        margin: 50px auto;
    }
    >.img-list{
        margin-bottom: 50px;
        >ul{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 45px;
            >li{
                width: 22%;
                >figure{
                    >img{
                        width: 100%;
                        height: 100%;
                    }
                    >figcaption{
                        font-size: 24px;
                        padding: 10px 0;
                    }
                }
            }
        }
    }
}

.more-btn{
    margin-bottom: 100px;
    text-align: center;
    >button{
        background-color: red;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        cursor: pointer;
        width: 100px;
        height: 50px;
    }
}